.oneline {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}

.unread-messages {
  background-image: url(./icons/unread-message.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

.block {
  background-image: url(./icons/ban-solid-full.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

label.asterisk {
  color: red;
  flex-basis: 0%;
}

button.subscribe {
  background-image: url(./icons/star-regular-full-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

button.unsubscribe {
  background-image: url(./icons/star-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

button.unsubscribe:hover,
button.subscribe:hover {
  background-color: rgba(255, 193, 7, 0.1);
}

button.subscribe-topic-listing {
  background-image: url(./icons/star-regular-full-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

button.unsubscribe-topic-listing {
  background-image: url(./icons/star-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

button.submit {
  border-radius: 6px;
  color: rgb(255, 193, 7);
  border: 1px solid rgba(255, 193, 7, 0.5);
  background: rgba(1, 36, 59, 0.479);
  padding: 8px 16px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: 2rem;
}

button.submit:hover {
  background: rgba(255, 193, 7, 0.1);
  border-color: rgb(255, 193, 7);
}

.logout {
  background-image: url(./icons/arrow-right-from-bracket-solid-full.svg);
}

.logout:hover {
  background-color: rgba(1, 36, 59);
}

button.create {
  background-image: url(./icons/plus-solid-full-darkblue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(255, 193, 7);
  border-color: transparent;
  border-radius: 6px;
  width: 60px;
  height: 60px;
}

.navbutton {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.navbutton:hover {
  background-color: rgba(1, 36, 59);
}

.home {
  background-image: url(./icons/house-solid-full.svg);
}

.topic {
  background-image: url(./icons/discourse-brands-solid-full.svg);
}

.user {
  background-image: url(./icons/user-solid-full.svg);
}

.statistics {
  background-image: url(./icons/statistics.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

div.stats-container {
  padding: 10px;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
}

div.stats-container:hover {
  background-color: rgba(1, 36, 59);
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 5px;
  padding-left: 0;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100%;
}

form {
  background-color: rgba(1, 36, 59, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

a {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 18px;
  padding: 6px;
  text-decoration: none;
}

.topic-container {
  background-color: rgba(1, 36, 59, 0.733);
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.topic-container:hover {
  background-color: rgba(1, 36, 59);
}

label,
input {
  margin-bottom: 10px;
  width: 100%;
}

input,
textarea {
  background: transparent;
  border: 2px solid rgba(255, 193, 7, 0.5);
  border-radius: 8px;
  color: white;
  font-size: xx-large;
}

.message-username {
  font-weight: bold;
}

.message-container {
  border-bottom: 0.2px solid rgba(255, 193, 7, 0.5);
  width: 80%;
}

textarea {
  resize: vertical;
  margin-bottom: 2%;
}

input:hover {
  border-color: rgba(255, 193, 7);
}

textarea:hover {
  border-color: rgba(255, 193, 7);
}

label {
  padding-right: 10px;
}

body {
  background-color: rgba(0, 16, 26);
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 0;
}

.center {
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: solid;
  border-color: white;
  border-width: 1px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 3px;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 5rem;
  text-align: center;
}

h3 {
  margin: 1px;
}

a,
p,
div,
table,
input {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 3rem;
}
