.oneline {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.topic-listing-title {
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: left;
}

.unread-messages {
  background-image: url(./icons/unread-message.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
}

.block {
  background-image: url(./icons/ban-solid-full.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

label.asterisk {
  color: red;
  flex-basis: 0%;
  padding-left: 1%;
}

button.delete {
  background-image: url(./icons/trash-solid-full-red.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

button.delete:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

button.subscribe {
  background-image: url(./icons/star-regular-full-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

button.unsubscribe {
  background-image: url(./icons/star-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

button.unsubscribe:hover,
button.subscribe:hover {
  background-color: rgba(255, 193, 7, 0.1);
}

button.subscribe-topic-listing {
  background-image: url(./icons/star-regular-full-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

button.unsubscribe-topic-listing {
  background-image: url(./icons/star-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

button.submit {
  border-radius: 6px;
  color: rgb(255, 193, 7);
  border: 1px solid rgba(255, 193, 7, 0.5);
  background: rgba(1, 36, 59, 0.479);
  padding: 8px 16px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: 2rem;
}

button.block-submit {
  pointer-events: none;
}

button.submit:hover {
  background: rgba(255, 193, 7, 0.1);
  border-color: rgb(255, 193, 7);
}

button.cancel {
  border-radius: 6px;
  color: rgb(255, 0, 0);
  border: 1px solid rgba(255, 0, 0, 0.5);
  background: rgba(1, 36, 59, 0.479);
  padding: 8px 16px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: 2rem;
}

button.cancel:hover {
  background: rgba(153, 1, 1, 0.1);
  border-color: rgba(255, 0, 0, 1);
}

button.create {
  background-image: url(./icons/plus-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgba(1, 36, 59, 0.479);
  border: 1px solid rgba(255, 193, 7, 0.5);
  border-radius: 6px;
  width: 140px;
  height: 60px;
}

button.create:hover {
  background-color: rgba(255, 193, 7, 0.1);
  border-color: rgb(255, 193, 7);
}

.navbutton {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.navbutton:hover {
  background-color: rgba(1, 36, 59);
}

.home {
  background-image: url(./icons/house-solid-full.svg);
}

.topic {
  background-image: url(./icons/discourse-brands-solid-full.svg);
}

.user {
  background-image: url(./icons/user-solid-full.svg);
}

.statistics {
  background-image: url(./icons/statistics.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 60px;
  height: 60px;
}

.logout {
  background-image: url(./icons/arrow-right-from-bracket-solid-full.svg);
}

div.stats-container {
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

div.stats-container:hover {
  background-color: rgba(1, 36, 59);
}

.link-subtle {
  color: rgba(255, 193, 7, 0.7);
  font-size: 1.4rem;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-family: inherit;
}

.link-subtle:hover {
  color: rgb(255, 193, 7);
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
  padding: 5px;
  align-items: center;
  height: 100vh;
  flex-shrink: 0;
  position: sticky;
  top: 0;
}

form {
  background-color: rgba(1, 36, 59, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 18px;
  padding: 6px;
  text-decoration: none;
}

.topic-container {
  background-color: rgba(1, 36, 59, 0.733);
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.topic-container:hover {
  background-color: rgba(1, 36, 59);
}

label,
input {
  margin-top: 3%;
}

input,
textarea {
  background: transparent;
  border: 2px solid rgba(255, 193, 7, 0.5);
  border-radius: 8px;
  color: white;
  font-size: xx-large;
  width: 100%;
  box-sizing: border-box;
}

.block-message {
  background: transparent;
  border: 2px solid rgba(255, 0, 0, 0.5);
  border-radius: 8px;
  color: white;
  font-size: xx-large;
  pointer-events: none;
}

.message-username {
  font-weight: bold;
  color: rgba(255, 193, 7);
}

.message-container {
  border-bottom: 0.2px solid rgba(255, 193, 7, 0.5);
  width: 80%;
}

textarea {
  resize: vertical;
  margin-bottom: 2%;
}

input:hover {
  border-color: rgba(255, 193, 7);
}

textarea:hover {
  border-color: rgba(255, 193, 7);
}

label {
  padding-right: 10px;
}

body {
  background-color: rgba(0, 16, 26);
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  gap: 2%;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
}

.trailoff {
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed;
}

table,
th,
td {
  border: solid;
  border-color: white;
  border-width: 1px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 3px;
  overflow-wrap: break-word;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 4rem;
  text-align: center;
}

h3 {
  margin: 1px;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: lighter;
}

a {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 2.2rem;
}

p,
div,
table,
input,
textarea {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 1.8rem;
}

.register-link {
  color: rgb(255, 193, 7);
  border: none;
  background: transparent;
  padding: 6px 12px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: 1.2rem;
  margin-top: 12px;
  text-decoration: underline;
}
