.oneline {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}

.unread-messages {
  background-image: url(./icons/unread-message.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 25px;
  height: 25px;
}

.block {
  background-image: url(./icons/ban-solid-full.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
}

button.subscribe {
  background-image: url(./icons/star-regular-full-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
}

button.unsubscribe {
  background-image: url(./icons/star-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 20px;
  height: 20px;
}

button.subscribe-topic-listing {
  background-image: url(./icons/star-regular-full-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 35px;
  height: 35px;
}

button.unsubscribe-topic-listing {
  background-image: url(./icons/star-solid-full-amber.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 35px;
  height: 35px;
}

button.submit {
  border-radius: 8px;
  color: white;
  background-color: rgb(2, 48, 78);
  padding: 8px;
}

.logout {
  background-image: url(./icons/arrow-right-from-bracket-solid-full.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 35px;
  height: 35px;
}

.navbutton {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
}

button.create {
  background-image: url(./icons/plus-solid-full-darkblue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(255, 193, 7);
  border-color: transparent;
  border-radius: 6px;
  width: 40px;
  height: 40px;
}
/* background-color: rgb(189, 171, 10); */
.home {
  background-image: url(./icons/house-solid-full.svg);
}

.topic {
  background-image: url(./icons/discourse-brands-solid-full.svg);
}

.user {
  background-image: url(./icons/user-solid-full.svg);
}

.statistics {
  background-image: url(./icons/statistics.png);
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-left: 0;
  padding-top: 15px;
  align-items: center;
}

a {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 18px;
  padding: 6px;
  text-decoration: none;
}

.topic-container {
  background-color: rgba(1, 36, 59, 0.733);
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

body {
  background-color: rgba(0, 16, 26);
  display: flex;
}

table,
th,
td {
  border: solid;
  border-color: white;
  border-width: 1px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 3px;
}

h1,
a,
p,
div,
table {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}
