<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/displayHome.js"></script>
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body id="body">
    <div id="navbar"></div>
    <div id="main-div" style="width: 100%">
      <div class="home-layout">
        <div class="home-column">
          <h1>Popular Topics</h1>
          <div id="popular-topics"></div>
        </div>
        <div class="home-column">
          <h1>Recent Messages</h1>
          <div id="recent-messages"></div>
        </div>
      </div>
    </div>
  </body>
</html>
