<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css" />
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <script defer type="module" src="../scripts/createTopic.js"></script>
  </head>
  <body id="body1">
    <div id="navbar"></div>
    <div
      style="
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 800px;
        "
      >
        <h1>New Topic</h1>
        <form
          id="form1"
          style="padding: 30px; width: 100%; box-sizing: border-box"
        >
          <div class="flex" style="width: 100%">
            <div class="flex-row">
              <input
                type="text"
                id="name"
                name="name"
                value=""
                placeholder="Name..."
                style="margin-bottom: 2%"
              />
              <label class="asterisk">*</label>
            </div>
            <textarea
              id="description"
              name="description"
              rows="10"
              placeholder="Enter your description here..."
            ></textarea>
          </div>
          <div style="display: flex; gap: 5%; padding-top: 5%">
            <button
              type="submit"
              id="submit-btn"
              form="form1"
              name="submit"
              class="submit"
            >
              Submit
            </button>
            <button
              type="button"
              onclick="window.location.href = '/topics'"
              class="cancel"
            >
              Cancel
            </button>
          </div>
          <label
            id="error"
            style="color: red; font-size: x-large; margin-top: 5%"
          ></label>
        </form>
      </div>
    </div>
  </body>
  <br />
</html>
