<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/displayTopic.js"></script>
    <script defer type="module" src="../scripts/createMessage.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body id="body1" style="display: flex">
    <div id="navbar"></div>
    <div style="flex: content">
      <div id="header"></div>
      <h2 id="description"></h2>
      <div id="messages"></div>
      <div id="message-submit"></div>
    </div>
  </body>
</html>
