<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <h1>Create New Topic</h1>
  <body>
    <form action="/api/post/topic" method="POST">
      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" value="" /> <br />
      </div>
      <div>
        <label for="description">Description: </label> <br />
        <textarea
          id="description"
          name="description"
          rows="10"
          cols="50"
          placeholder="Enter your description here..."
        ></textarea>
        <br />
      </div>
      <input type="submit" name="submit" value="Submit" />
    </form>
  </body>
</html>
