<form
  id="message-create-form"
  method="POST"
  style="
    padding-left: 0%;
    padding-right: 0%;
    align-items: flex-start;
    background-color: transparent;
  "
>
  <div class="flex-row">
    <textarea
      id="message-body"
      name="message-body"
      rows="3%"
      cols="50%"
      placeholder="Write a new message..."
      maxlength="10"
    ></textarea>
    <label class="asterisk" style="margin-top: 0">*</label>
  </div>
  <button
    type="submit"
    form="message-create-form"
    id="message-submit-btn"
    name="message-submit-btn"
    class="submit"
  >
    Submit
  </button>
</form>
