<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/displayTopic.js"></script>
    <script defer type="module" src="../scripts/createMessage.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body id="body1">
    <div id="navbar"></div>
    <div>
      <div
        id="header"
        style="display: flex; align-items: center; justify-content: start"
      >
        <div id="button-container" style="padding-right: 5px"></div>
      </div>
      <h2 id="description"></h2>
      <div id="messages"></div>
      <div id="message-submit"></div>
    </div>
  </body>
</html>
