<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/displayTopics.js"></script>
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body id="body" name="body">
    <div id="navbar"></div>
    <div id="main-div" style="width: 80%">
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <h1>Topics</h1>
        <button
          onclick="window.location.href = '/topic/create'"
          class="create"
        ></button>
      </div>
    </div>
  </body>
  <br />
</html>
