<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css" />
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
  </head>
  <body id="body1" style="display: flex">
    <div id="navbar"></div>
    <div style="padding-left: 30%">
      <h1>New Topic</h1>
      <form action="/api/post/topic" method="POST">
        <div style="display: flex; flex-direction: column">
          <input
            type="text"
            name="name"
            value=""
            placeholder="Name..."
            style="box-sizing: border-box; width: 100%"
          />
          <textarea
            id="description"
            name="description"
            rows="10"
            cols="50"
            placeholder="Enter your description here..."
          ></textarea>
        </div>
        <div style="padding-top: 3%">
          <button type="submit" name="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
