<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="../styles/styles.css" />
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
  </head>

  <body id="body1">
    <div id="navbar"></div>
    <div style="padding-left: 30%">
      <h1>Register</h1>
      <form action="/api/post/user" method="POST">
        <div class="center">
          <input type="text" name="name" value="" placeholder="Name" /> <br />
        </div>
        <div class="center">
          <input type="text" name="username" value="" placeholder="Username" />
          <br />
        </div>
        <div class="center">
          <input
            type="Password"
            name="password"
            value=""
            placeholder="Password"
          /><br />
        </div>
        <button type="submit" name="submit" class="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
