<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/userDisplay.js"></script>
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body id="body" name="body">
    <div id="navbar"></div>
    <div style="width: 92%">
      <title id="title" name="title"></title>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h1 id="username-header" name="username-header"></h1>
        <button
          onclick="window.location.href = '/user/logout'"
          class="logout"
        ></button>
      </div>
      <div id="topics-div" name="topics-div"></div>
      <button onclick="window.location.href = '/topics'" class="submit">
        See all topics
      </button>
    </div>
  </body>
</html>
