<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/invalidLogin.js"></script>
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
        "
      >
        <h1>User Login</h1>
        <form id="form1" style="padding-right: 30px; padding-left: 30px">
          <div class="flex-row">
            <input
              id="username"
              type="text"
              name="username"
              value=""
              placeholder="Username"
              style="font-size: 40px"
            />
            <label class="asterisk">*</label>
          </div>
          <div class="flex-row">
            <input
              id="password"
              type="password"
              name="password"
              value=""
              placeholder="Password"
              style="font-size: 40px"
            />
            <label class="asterisk">*</label>
          </div>
          <div style="display: flex; gap: 5%; padding-top: 3%">
            <button
              type="submit"
              id="submit-btn"
              name="submit-btn"
              form="form1"
              class="submit"
            >
              Submit
            </button>
            <button
              onclick="window.location.href = '/user/create'"
              id="register-button"
              name="register-button"
              type="button"
              class="submit"
            >
              Register
            </button>
          </div>
          <br />
          <label id="error" style="color: red; font-size: x-large"></label>
        </form>
      </div>
    </div>
  </body>
</html>
