<!doctype html>

<html>
  <head>
    <script defer type="module" src="../scripts/userDisplay.js"></script>
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body id="body" name="body">
    <div id="navbar"></div>
    <div id="main-div" style="width: 100%">
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <h1
          id="username-header"
          name="username-header"
          style="text-align: left"
        ></h1>
        <button onclick="window.location.href = '/topics'" class="submit">
          See all topics
        </button>
      </div>
      <div id="topics-div" name="topics-div"></div>
    </div>
  </body>
</html>
