<!doctype html>

<html>
  <head>
    <!-- Styles aren't working, idk why yet -->
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <script defer type="module" src="../scripts/invalidLogin.js"></script>
  </head>
  <h1>User Login</h1>
  <body>
    <form id="form1" action="/topics" method="POST">
      <div>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" value="" /> <br />
      </div>
      <div>
        <label for="password">Password: </label>
        <input id="password" type="text" name="password" value="" /><br />
      </div>
      <input
        type="submit"
        id="submit-btn"
        name="submit-btn"
        value="Submit"
      /><br />
      <label id="error" style="color: red"></label>
    </form>
  </body>
</html>
