<!doctype html>

<html>
  <head>
    <!-- Styles aren't working, idk why yet -->
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <script defer type="module" src="../scripts/invalidLogin.js"></script>
    <script defer type="module" src="../scripts/appendNavbar.js"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <div
      style="
        padding-left: 30%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      "
    >
      <h1>User Login</h1>
      <form id="form1">
        <div class="center">
          <input
            id="username"
            type="text"
            name="username"
            value=""
            placeholder="Username"
          />
          <br />
        </div>
        <div class="center">
          <input
            id="password"
            type="password"
            name="password"
            value=""
            placeholder="Password"
          /><br />
        </div>
        <div style="display: flex; gap: 5%; padding-top: 5%">
          <button
            type="submit"
            id="submit-btn"
            name="submit-btn"
            form="form1"
            class="submit"
          >
            Submit
          </button>
          <button
            onclick="window.location.href = '/user/create'"
            id="register-button"
            name="register-button"
            type="button"
            class="submit"
          >
            Register
          </button>
        </div>
        <br />
        <label id="error" style="color: red; font-size: x-large"></label>
      </form>
    </div>
  </body>
</html>
